/* set the styles */

.password-second-confirm {
  font-weight: bold;
}

.password-disclaimer {
  font-weight: bold;
}

.settings-auth-related {
  border-top: 1px solid var(--background-modifier-border);
  padding-top: 18px;
}

.s3-disclaimer {
  font-weight: bold;
}

.s3-hide {
  display: none;
}

.dropbox-disclaimer {
  font-weight: bold;
}

.dropbox-hide {
  display: none;
}

.dropbox-auth-button-hide {
  display: none;
}

.dropbox-revoke-auth-button-hide {
  display: none;
}

.onedrive-disclaimer {
  font-weight: bold;
}

.onedrive-hide {
  display: none;
}

.onedrive-auth-button-hide {
  display: none;
}

.onedrive-revoke-auth-button-hide {
  display: none;
}

.webdav-disclaimer {
  font-weight: bold;
}

.webdav-hide {
  display: none;
}

.qrcode-img {
  width: 350px;
  height: 350px;
}


/* THIS FILE IS NOT EXPORTED WITH THE HTML FILE! */

/* Flow list used on the settings page */
.flow-list {
  contain: inline-size;
  gap: 0.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: -webkit-fill-available;
  background-color: var(--background-secondary);
  border: 1px solid var(--divider-color);
  border-radius: 5px;
  padding: 6px;
}

.flow-item {
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  border: 1px solid var(--divider-color);
  font-size: 0.9em;
  height: min-content;
  width: max-content;
  padding: 3px 8px 3px 8px;
  margin: 0.1em 0em 0.1em 0.0em;
  background-color: var(--background-primary);
  align-items: center;
}

/* Progressbar used in the render progress */

.html-render-progressbar::-webkit-progress-bar {
  background-color: var(--background-secondary);
  border-radius: 500px;
}

.html-render-progressbar::-webkit-progress-value {
  background-color: currentColor;
  border-radius: 500px;
}

.obsidian-icon-folder-icon {
  border: 1px solid transparent;
  margin: 0px 4px 0px 0px;
  display: flex;
  align-self: center;
  margin: auto 0;
}


.settings-pub-header {
  display: block;
  margin-bottom: 15px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 100%;
}

.loading-logs {
  display: block;
  padding: 12px;
  border-top: 1px solid #f5f5f5;
}

.loading-log-item {
  padding: 6px 8px;
  font-size: small;
  color: currentColor;
}

.hide-loading-container {
  display: none;
}

.file-item-action {
  margin: 8px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: currentColor;
  border-bottom: 1px solid var(--divider-color);
  padding: 8px 2px;
}
.file-item-action-name {
  flex: 1 1 auto;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-item-action-prefix {
  flex: 0 0 auto;
  font-size: var(--font-text-size);
  width: var(--font-text-size);
  height: var(--font-text-size);
  margin-right: 4px;
}

.file-item-action-icon {
  flex: 0 0 auto;
  font-size: var(--font-text-size);
  width: var(--font-text-size);
  height: var(--font-text-size);
  margin: 0 8px;
}