.view-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 22px;
}

.header {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-header {
    margin: 8px;
    font-weight: bold;
}

.header > .icon {
    margin-right: 6px;
}

.header > .settings {
    position: absolute;
    right: 14px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: 4px;
    transition: all;
    transition-duration: 0.3s;
}
.header > .settings:hover {
    transform: rotateZ(45deg);
}
.extra-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.extra-action > .btn {
    flex: 0 0 64px;
    text-align: center;
    font-size: smaller;
    margin: 2px;
    line-height: var(--nav-item-size);
    /* color: var(--interactive-accent); */
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 6px;
    /* border: 1px solid var(--interactive-accent); */
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ffffff45;
}
.extra-action > .btn:hover {
    border: 1px solid #ffffff; 
}
.scroll-container {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.loading-opacity {
    opacity: 0.4;
}

.scroll-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.empty-report {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    opacity: 0.75;
}

.empty-report > .icon {
    width: 32px;
    height: 32px;
    opacity: 0.1;
}

.empty-report > span {
    margin-top: 22px;
}


.icon {
    width: 16px;
    height: 16px;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.actions > button {
    /* color: white; */
    color: var(--text-normal);
}
